* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    font-family: 'open sans';
    padding-top: 90px;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
}

/* Header */


header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 3;
    

    



}

header .header-icono {

    width: 200px;
    height: 200px;
    /* margin: 0 auto;
    margin-top: 50px; */
    line-height: 80px;
    overflow: hidden;
}

header .header-icono .header-img-responsive {

    width: 100%;
    height: auto;


}

nav {
    /* text-align: center;
    padding: 30px 50px 0 0; */
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;


}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {

    line-height: 80px;
    margin: 0 10px;
    width: max-content;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-weight: 300;
}

/* nav > a {
    color: black;
    font-weight: 300;
    text-decoration: none;
    margin-right: 70px;
}

nav>a:hover {
    text-decoration: underline;
} */

nav img {
    width: 48px;
    height: 48px;

}


nav img:hover {
    width: 48px;
    height: 48px;




}


.zoom{
    transition: transform .5s;
}

.zoom:hover{


    transform: scale(1.5);


}

.toogle-botton{
    height: 80px;
}


.nav-toggle {
    color: #e956a5;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 80px;
    cursor: pointer;


    display: none;

 
}


/* section textos como ganar */


.contenedor .txt-como{
    
    width: 65%;
    height: 500px;
   
    
}

.contenedor .txt-como h2{
    
  font-size: 70px;
  font-weight: 500;
  color: rgb(49, 49, 49);
}

.contenedor .txt-como p{
    
   font-size: 14px;
   
  }



  /* seccion video */

  .video-contenedor {
    width: 100%;
    height: 800px;
    margin-bottom: 60px;
z-index: 2;




}

.video-contenedor video {
    width: 100%;
    height: auto;
    
}



@supports(object-fit: cover) {
    .video-contenedor video {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.contenedor .txt-final-ComoGanar p{
   color: rgb(49, 49, 49);
}


.contenedor .txt-final-ComoGanar p{
    font-size: 14px;
}



footer {

    padding: 200px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    width: 90%;

    margin: auto;


}

.contenedor-footer .content-foo p {

    text-align: center
}


.titulo-final {
    text-align: center;
    font-size: 12px;
    margin: 30px 0 0 760px;
    color: #9e9797;
}




@media screen and (max-width: 1500px) {

    nav {
        text-align: center;
        padding: 30px 40px 0 0;
    }

    nav>a {

        margin-right: 15px;
    }


    nav img {
        width: 28px;
        height: 28px;

    }

    nav img:hover {
        width: 28px;
        height: 28px;

    }

    .video-contenedor {
        width: 100%;
        height: 600px;
        margin-bottom: 60px;
    
    
    
    
    
    }

    

}



@media screen and (max-width: 750px) {

    body {
        padding-top: 70px;
    }

    header .header-icono {

        width: 100px;
        height: 100px;
        /* margin: 0 auto;
        margin-top: 50px; */
        line-height: 60px;
        overflow: hidden;
    }

    .header {
        height: 60px;
    }

    header .header-icono {

        width: 150px;
        height: 150px;
        /* margin: 0 auto;
        margin-top: 50px; */
        line-height: 60px;
        overflow: hidden;
    }


    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #e956a5;
        position: fixed;
        top: 70px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }


    .nav-menu-item {
        line-height: 70px;
    }
    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: white;
    }


    .nav-toggle {
line-height: 50px;
        display: block;
    
    }

    .nav-menu_visible {
        left: 0;
    }

    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }




    .video-contenedor {
        width: 100%;
        height: 400px;
        margin-bottom: 60px;
    
    
    
    
    
    }

   
    

}





@media screen and (max-width: 500px) {

    
    header {
        height: 200px;
    }

    header .header-icono {

        width: 150px;
        height: 150px;


    }


    .video-contenedor {
        width: 100%;
        height: 300px;
        margin-bottom: 60px;
    
    
    
    
    
    }

    .contenedor .txt-como{
        width: 100%;

    }

   
    



    
}
