* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
    padding-top: 90px;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
}

/* Header */


header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 3;
    

    



}

header .header-icono {

    width: 200px;
    height: 200px;
    /* margin: 0 auto;
    margin-top: 50px; */
    line-height: 80px;
    overflow: hidden;
}

header .header-icono .header-img-responsive {

    width: 100%;
    height: auto;


}

nav {
    /* text-align: center;
    padding: 30px 50px 0 0; */
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;


}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {

    line-height: 80px;
    margin: 0 10px;
    width: max-content;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-weight: 300;
}

/* nav > a {
    color: black;
    font-weight: 300;
    text-decoration: none;
    margin-right: 70px;
}

nav>a:hover {
    text-decoration: underline;
} */

nav img {
    width: 48px;
    height: 48px;

}


nav img:hover {
    width: 48px;
    height: 48px;




}

.zoom{
    transition: transform .5s;
}

.zoom:hover{


    transform: scale(1.5);


}

/* header .img-principal {
    width: 100%;
    height: 600px;
    margin-top: 30px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
 


}


header .img-principal video {
    width: 100%;
    position: absolute;
    z-index: -1;

}


.img-principal .textos-principal{
    display: flex;
    height: 400px;
    width: 100%;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.img-principal .textos-principal h1{
    font-size: 50px;
    color: #fff;
}

.img-principal .textos-principal h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

 */


 .toogle-botton{
    height: 80px;
}


.nav-toggle {
    color: #e956a5;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 80px;
    cursor: pointer;


    display: none;

 
}



.contenedor-img {
    width: 100%;
    height: 800px;

    /* background: wheat;
    background: -webkit-linear-gradient(to right, hsla(0, 1%, 38%, 0.459), hsla(0, 2%, 12%, 0.651)), url(images/IMG-42.jpg); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background:  url(images/IMG-42.jpg); */


    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 150px;
    z-index: 2;

}


.contenedor-img video {
    width: 100%;
    height: auto;
}


@supports(object-fit: cover) {
    .contenedor-img video {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}



.contenedor .agenda {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.contenedor .agenda h2 {
    font-size: 20px;
}

.contenedor .agenda span img {
    width: 25px;
    height: 25px;
}


.contenedor .agenda-textos p {

    font-size: 23px;
    font-weight: 300;

}

/* section formulario */




.contenedor .contenedor-flex-formulario {
    display: flex;
    grid-gap: 10px;


}


.contenedor .contenedor-flex-formulario .formulario-contac {

    background: #ffff;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 800px;
    align-items: center;


    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);







}


.contenedor .contenedor-flex-formulario .formulario-contac h2,
p {
    margin-top: 20px;
    text-align: center;
}











.contenedor .contenedor-flex-formulario .formulario-contac input {

    width: 300px;
    height: 45px;
    border-radius: 15px;
    box-shadow: 0 0 6px 0 rgba(204, 195, 195, 0.9);
    margin-top: 50px;
    border: none;
    color: #d4c7c7;


}



.contenedor .contenedor-flex-formulario .tel-whast-tex {

    display: flex;
    align-items: flex-start;
    width: 45%;


    /* background: wheat;
    background: -webkit-linear-gradient(to right, hsla(0, 1%, 38%, 0.459), hsla(0, 2%, 12%, 0.651)), url(images/IMG-42.jpg); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background:  url(images/IMG-42.jpg); */


    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;






}


.contenedor .contenedor-flex-formulario .tel-whast-tex video {
    width: 100%;
    height: auto;

}








footer {

    padding: 200px 0 30px 0;
    margin: auto;
    overflow: hidden;

}

.contenedor-footer {
    width: 90%;

    margin: auto;


}

.contenedor-footer .content-foo p {

    text-align: center
}


.titulo-final {
    text-align: center;
    font-size: 12px;
    margin: 30px 0 0 760px;
    color: #9e9797;
}



@media screen and (max-width: 1500px) {

    nav {
        text-align: center;
        padding: 30px 40px 0 0;
    }

    nav>a {

        margin-right: 15px;
    }


    nav img {
        width: 28px;
        height: 28px;

    }

    nav img:hover {
        width: 28px;
        height: 28px;

    }

    .contenedor-img {
        width: 100%;
        height: 400px;        
        margin-bottom: 50px;      

        box-sizing: border-box;
    }


    .contenedor-img video {
        width: 100%;
        height: auto;

    }


    @supports(object-fit: cover) {
        .contenedor-img video {
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }



    .contenedor .agenda {
        display: flex;
        flex-direction: column;
        align-items: center;
    }




    .contenedor .contenedor-flex-formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor .contenedor-flex-formulario .formulario-contac {
        width: 95%;
    }

    .contenedor .contenedor-flex-formulario .formulario-contac:first-child {
        margin-bottom: 50px;
    }

    .contenedor .contenedor-flex-formulario .tel-whast-tex {
        width: 95%;
    }

}



@media screen and (max-width: 700px) {
    body {
        padding-top: 70px;
    }

    header .header-icono {

        width: 100px;
        height: 100px;
        /* margin: 0 auto;
        margin-top: 50px; */
        line-height: 60px;
        overflow: hidden;
    }

    .header {
        height: 60px;
    }

    header .header-icono {

        width: 150px;
        height: 150px;
        /* margin: 0 auto;
        margin-top: 50px; */
        line-height: 60px;
        overflow: hidden;
    }


    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color:#e956a5;
        position: fixed;
        top: 75px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }


    .nav-menu-item {
        line-height: 70px;
    }
    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: white;
    }


    .nav-toggle {
line-height: 50px;
        display: block;
    
    }

    .nav-menu_visible {
        left: 0;
    }

    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }

}



@media screen and (max-width: 550px) {

    header {
        height: 200px;
    }

    header .header-icono {

        width: 150px;
        height: 150px;


    }



    



    .contenedor-img {
        width: 100%;
        height: 200px;
        margin-bottom: 50px;

        box-sizing: border-box;
    }


    .contenedor-img video {
        width: 100%;
        height: auto;

    }


    @supports(object-fit: cover) {
        .contenedor-img video {
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }

    .contenedor .contenedor-flex-formulario .formulario-contac input {

        width: 200px;



    }

    .contenedor .agenda {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }



    .contenedor .contenedor-flex-formulario .tel-whast-tex {}

}
