* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    font-family: 'open sans';
    padding-top: 90px;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
}

/* Header */


header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 3;
    

    



}

header .header-icono {

    width: 200px;
    height: 200px;
    /* margin: 0 auto;
    margin-top: 50px; */
    line-height: 80px;
    overflow: hidden;
}

header .header-icono .header-img-responsive {

    width: 100%;
    height: auto;


}

nav {
    /* text-align: center;
    padding: 30px 50px 0 0; */
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;


}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {

    line-height: 80px;
    margin: 0 10px;
    width: max-content;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-weight: 300;
}

/* nav > a {
    color: black;
    font-weight: 300;
    text-decoration: none;
    margin-right: 70px;
}

nav>a:hover {
    text-decoration: underline;
} */

nav img {
    width: 48px;
    height: 48px;

}


nav img:hover {
    width: 48px;
    height: 48px;




}

.toogle-botton{
    height: 80px;
}


.nav-toggle {
    color: #e956a5;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 80px;
    cursor: pointer;


    display: none;

 
}
   


.contenedor-img {
    width: 100%;
    height: 800px;
    /* background: wheat;
    background: -webkit-linear-gradient(to right, hsla(0, 1%, 38%, 0.459), hsla(0, 2%, 12%, 0.651)), url(images/IMG-42.jpg); */
    /* Chrome 10-25, Safari 5.1-6 */
    background: rgb(214, 214, 214);
    ;

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    margin-bottom: 100px;


}


.contenedor-img .textos-principal {
    display: flex;
    height: 800px;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
    padding: 20px;

}


.contenedor-img .textos-principal h2 {

    font-size: 85px;
color: rgb(49, 49, 49);


}



.contenedor-img .textos-principal p {

    font-size: 24px;
    font-weight: 300;
    color: black;


}



/* seccion video negocio */



.video-contenedor {
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
z-index: 2;



}

.video-contenedor video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.video-contenedor2 {
    width: 100%;
    height: 500px;
    margin-bottom: 60px;
    z-index: 2;




}

.video-contenedor2 video {
    width: 100%;
    height: auto;

}


@supports(object-fit: cover) {
    .video-contenedor2 video {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
    }

.textos-finales h2 {

    color:rgb(49, 49, 49);
    font-weight: 300;
}


.textos-finales p {

    font-size: 20px;
}







footer {

    padding: 200px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    width: 90%;

    margin: auto;


}

.contenedor-footer .content-foo p {

    text-align: center
}


.titulo-final {
    text-align: center;
    font-size: 12px;
    margin: 30px 0 0 760px;
    color: #9e9797;
}



@media screen and (max-width:1500px){
    nav {
        text-align: center;
        padding: 30px 40px 0 0;
    }

    nav>a {

        margin-right: 15px;
    }


    nav img {
        width: 28px;
        height: 28px;

    }

    nav img:hover {
        width: 28px;
        height: 28px;

    }


}




@media screen and (max-width: 1200px) {

    nav {
        text-align: center;
        padding: 30px 40px 0 0;
    }

    nav>a {

        margin-right: 15px;
    }


    nav img {
        width: 28px;
        height: 28px;

    }

    nav img:hover {
        width: 28px;
        height: 28px;

    }

    .contenedor-img{
        height: 600px;
    }

    .contenedor-img .textos-principal{
        height: 600px;
        align-items: flex-start;
        justify-content: flex-start;
    }


    .contenedor-img .textos-principal h2 {

        font-size: 55px;
     
    
    
    }



    .video-contenedor {
        width: 100%;
        height: 500px;
        margin-bottom: 100px;
    
    
    
    
    }
    
    .video-contenedor video {
        width: 100%;
        height: auto;

    }


    
@supports(object-fit: cover) {
    .video-contenedor video {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}



.video-contenedor2 {
    width: 100%;
    height: 400px;
    margin-bottom: 100px;




}

.video-contenedor2 video {
    width: 100%;
    height: auto;

}



@supports(object-fit: cover) {
.video-contenedor2 video {
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
}
    

}



@media screen and (max-width: 750px) {
    body {
        padding-top: 70px;
    }

    header .header-icono {

        width: 100px;
        height: 100px;
        /* margin: 0 auto;
        margin-top: 50px; */
        line-height: 60px;
        overflow: hidden;
    }

    .header {
        height: 60px;
    }

    header .header-icono {

        width: 150px;
        height: 150px;
        /* margin: 0 auto;
        margin-top: 50px; */
        line-height: 60px;
        overflow: hidden;
    }


    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #e956a5;
        position: fixed;
        top: 70px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }


    .nav-menu-item {
        line-height: 70px;
    }
    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: white;
    }


    .nav-toggle {
line-height: 50px;
        display: block;
    
    }

    .nav-menu_visible {
        left: 0;
    }

    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }


    .contenedor-img {
        height: 400px;
     
    }
    .contenedor-img .textos-principal h2{
        font-size: 30px;
        
       }
   
   
       .contenedor-img .textos-principal p{
           font-size: 18px;
           
          }


          
      

    .contenedor-img .textos-principal{
        height: 400px;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
    }


    .video-contenedor {
        width: 100%;
        height: 350px;
        margin-bottom: 100px;
    
    
    
    
    }
    .video-contenedor2 {
        width: 100%;
        height: 300px;
        margin-bottom: 60px;
    
    
    
    
    }
    
    .video-contenedor2 video {
        width: 100%;
        height: auto;
    
    }
    
    
    @supports(object-fit: cover) {
        .video-contenedor2 video {
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
        }




        .contenedor .textos-finales p{
            font-size: 18px;


        }


   
    

}





@media screen and (max-width: 500px) {

    


    header {
        height: 200px;
    }

    header .header-icono {

        width: 150px;
        height: 150px;


    }



 
   
    

    .contenedor-img {
        height: 400px;
     
    }


    .contenedor-img .textos-principal{
        height: 400px;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }


    .contenedor-img .textos-principal h2{
     font-size: 20px;
     
    }


    .contenedor-img .textos-principal p{
        font-size: 14px;
        
       }
   


    .video-contenedor {
        width: 100%;
        height: 250px;
        margin-bottom: 100px;
    
    
    
    
    }


    .video-contenedor2 {
        width: 100%;
        height: 200px;
        margin-bottom: 60px;
    
    
    
    
    }
    
    .video-contenedor2 video {
        width: 100%;
        height: auto;
    
    }
    
    
    @supports(object-fit: cover) {
        .video-contenedor2 video {
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
        }



        .contenedor .textos-finales p{
            font-size: 14px;
            
           }
    



    
}
